.Layout {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #04000e;
  display: flex;
}

.Layout-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
}

body.dark-mode .Layout-button {
  color: #f8f6ff;
  background-color: #000;
}