.Events {
  min-width: 100%;
  min-height: 100%;
  padding: 80px 80px 80px 160px;
  background-color: #1c113b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .5s;
}

.Events-titulo {
  color: white;
  font-size: 80px;
  background: #fff;
  background: linear-gradient(135deg, #5927E5, #00F6FF);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Events input {
  color: #fff;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #5a27e57c;
  border: none;
  border-radius: 12px;
  outline: none;
}

.Events-cards{
  width: 100%;
  padding: 40px 80px;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: flex-end;
  gap:30px;
}

.Events-card{
  width: 100%;
  padding: 30px 40px;
  border-radius: 10px;
  background-color: #04000e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 20px 25px -10px #04000e;
  -webkit-box-shadow: 0px 20px 25px -10px #04000e;
  -moz-box-shadow: 0px 20px 25px -10px #04000e;
  position: relative;
  overflow: hidden;
  transition: all .5s;
}

.Events-cards .Events-card::after {
 content: '';
 display: block;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 6px;
 background: linear-gradient(to left, #00F6FF, #5927E5);
}

.Events-card-name{
  font-size: 1.25rem;
  background: #fff;
  background: linear-gradient(135deg, #5927E5, #00F6FF);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Events-card-description{
  font-size: 1.25rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Events-card-description span {
  font-size: 16px;
}

.Events-card .Events-card-button {
  padding: 12px 24px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  color: #f8f6ff;
  font-size: .7rem;
  font-weight: 700;
  font-family: 'Comfortaa', cursive;
  border: 2px solid #1c113b;
  border-radius: 8px;
  background-color: #04000e;
  transition: .5s;
  color: #00F6FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Events-card .Events-card-button:hover {
  background: linear-gradient(to left, #00F6FF, #5927E5);
  transition: .5s;
  
}

.Events-card-error-filter {
  color: #f8f6ff;
}

.Events-detail{
  width: 100%;
  background-color: #04000e;
  padding: 30px 40px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 20px 25px -10px #04000e;
  -webkit-box-shadow: 0px 20px 25px -10px #04000e;
  -moz-box-shadow: 0px 20px 25px -10px #04000e;
  position: relative;
  overflow: hidden;
  transition: all .5s;
  color:#f8f6ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.Events-detail::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(to left, #00F6FF, #5927E5);
}

.Events-detail-header{
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.Events-detail-header::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(to left, #00F6FF, #5927E5);
}

.Events-detail-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Events-detail-header h2 {
  font-weight: 700;
  color: white;
  background: #fff;
  background: linear-gradient(135deg, #5927E5, #00F6FF);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Events-detail-body{
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Events-detail-body div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Events-detail-body div ul {
  list-style: none;
}

.Events-detail-body .Events-detail-body-schools ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Events-detail-body .Events-detail-body-blocks ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.Events-detail-body div ul li {
  padding-left: 16px;
}

.Events-detail-body .Events-detail-body-blocks ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.Events-detail-body .Events-detail-body-blocks ul li p:nth-child(1) {
  font-weight: 700;
}

.Events-detail-footer {
  background-color: #1c113b;
  border: none;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: .5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}

.Events-detail-footer::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 400px;
  background: linear-gradient(to right, #5927E5, #00F6FF);
  transition: .5s;
  animation: animate 5s linear infinite;
}

.Events-detail-footer:hover::before {
  width: 110%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Events-detail-footer::after {
  content: '';
  position: absolute;
  inset: 3px;
  background: #04000e;
  border-radius: 7px;
  transition: .5s;
}

.Events-detail-footer:hover::after {
  background: #1c113b;
  transition: .5s;
}

.Events-detail-footer a {
  padding: 14px 28px;
  color: #f8f6ff;
  opacity: .5;
  text-decoration: none;
  transition: .5s;
  z-index: 1;
}

.Events-detail-footer:hover a {
  opacity: 1;
  transition: .5s;
}

.Events-detail-footer a i {
  padding-right: 28px;
}

@media screen and (max-width: 420px){
  .Events {
    padding: 80px 10px;
  }

  .Events-cards {
    padding: 40px 0 0 0;
  }

  .Events-detail {
    align-items: center;
  }

  .Events-detail-header {
    flex-direction: column;
  }

  .Events-detail-header > div {
    align-items: center;
  }

  .Events-detail-header > div h2 {
    text-align: center;
  }

  .Events-detail-header > div > div {
    justify-content: center;
  }
}